<div class='container'>
  <div class='row top-buffer row-padded'>
    <div class='span8'><h1>Apple Survey Tool</h1></div>
    <div class='span3 col_padded'>
      <% if session[:user_id] %>
          <%=link_to "Log out",logout_path,'class' =>'btn btn-default' %>
      <% else %>
          <%=link_to "Log in",'#login_modal', 'data-toggle' => 'modal', 'class' =>'btn btn-default' %>
      <% end %>
    </div>
    <div class ='span1'></div>
  </div>
  <div class="row row-even font-white">
    <div class='span1'></div>
    <div class='span9'><% if flash[:notice] %><div class="alert alert-success"><%= flash[:notice] %></div>
      <% elsif flash[:error] %><div class="alert alert-error"><%= flash[:error] %></div>
      <% end %></div>
    <div class='span1'><h4>Yes %</h4></div>
    <div class="span1"><h4>No %</h4></div>
  </div>
  <% row_id = 0 %>
  <% @questions.each do |question| %>
      <% row_id+=1 %>
        <%= render '/questions/modal' %>
        <div class='row top-buffer  <% if row_id%2==0 %>row-odd<% end %>'>
        <div class="span1"><%= row_id %></div>
        <div class="span9"><%=link_to question.content, '#new_response_modal','data-toggle' => 'modal', :href => "#{new_survey_path}?question_id=#{question.id}", "data-target"=>"#new_response_modal" %></div>



        <div class='span1 text-center'><%= question.yes_percent %></div>
        <div class="span1 text-center"><%= question.no_percent %></div>
    </div>
  <% end %>

    <div class='row top-buffer bottom-margin'>
      <% if session[:user_id] %>
        <%= link_to 'New Survey', '#new_survey_modal', 'data-toggle' => 'modal', 'class' =>'btn btn-default' %>
      <% else %>
          <%= link_to 'New Survey', '#login_modal', 'data-toggle' => 'modal', 'class' =>'btn btn-default' %>
      <% end %>

      <%= render '/surveys/modal' %>

     <%= render '/users/modal' %>



    </div>
</div>
